body{
    background: #f9f;
}

.blob{
    font-size: 30px;
    font-weight: 900;
    font-family: 'Lucida Sans';
    border: 6px rgba(175, 70, 175, .8) solid;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #333;
    border-radius: 12px;
    position: absolute;
    top: 100px;
    left: 100px;
    height: 60px;
    width: 80px;
    animation: blob 4s;
}

@keyframes blob{
    0% {
        transform: skew(35deg);
        left: 200px;
        background-position: 0 0;
    }
    50% {
        transform: skew(-35deg);
    }
    100% {
        transform: skew(0);
    }
}